body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
}

header {
    background: #6abfc2;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pasky-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 25px;
    padding: 40px;
}

.card {
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    transition: transform 0.3s ease;
    border: #333 solid 1px;
}

.card:hover { 
    transform: translateY(-10px);
 }

.card img {
    width: 100%;
    height: 250px;
}

.card-content { 
    padding: 20px; 
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #27ae60;
    color: white;
    cursor: pointer;
    font-weight: bold;
}


#cart-sidebar {
    position: fixed;
    right: -400px;
    top: 0;
    width: 350px;
    height: 100%;
    background: white;
    box-shadow: -5px 0 15px rgba(0,0,0,0.1);
    transition: 0.4s;
    padding: 20px;
}

#cart-sidebar.active { 
    right: 0;
 }

.close-modal, #close-cart {
    cursor: pointer;
    font-size: 30px;
    float: right;
    color: #888;
}

#close-cart {
     font-size: 40px; margin-top: -10px; 
    }

.modal {
    display: none; 
    position: fixed;
    z-index: 2000;
    left: 0; top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    align-items: center;
    justify-content: center;
    
}

.modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    max-width: 500px;
    text-align: center;
}

.modal img { 
    width: 100%; border-radius: 10px; margin-bottom: 15px;
 }

.remove-btn {
    background: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

#cart-icon {
    cursor: pointer;
    border: #333 solid 1px;
    border-radius: 1px;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    color: aquamarine;
}